:root {
  --black: #1a1a1a;
  --blue: #646cff;
  --green: #4bb543;
  --danger: #f32013;
  --red: #ff3322;
  --big-card: 120px;
  --small-card: 60px;
  --btn-bg: #33c3d0;
  --btn-bg-hover: #1eaedb;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1080px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

#score {
  text-transform: capitalize;
  margin-bottom: 2rem;
  align-items: center;
}

.text-large {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 1rem;
}

.card {
  line-height: var(--big-card);
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
  gap: 1rem;
}

.playing-card {
  font-size: var(--big-card);
}

.playing-card.diamonds,
.playing-card.hearts {
  color: var(--red);
}

.playing-card.inactive {
  font-size: var(--small-card);
}

.points {
  font-weight: bold;
  font-size: large;
  line-height: normal;
}

.split {
  margin: 1rem;
}

.link {
  background-color: white;
}

.win {
  color: var(--green);
}

.lose {
  color: var(--danger);
}

.push {
  color: var(--blue);
}

button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
  background-color: var(--btn-bg);
}
button:hover {
  background-color: var(--btn-bg-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: not-allowed;
  background-color: #dddddd;
  color: #999999;
}
